.page-bg {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-container {
    height: 80%;
    width: 95%;
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
    background: linear-gradient(90deg, #ffffff00, #ffffff36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slide-in 0.7s;
}

.home-title-container {
    height: 70%;
    width: 50%;
    margin-right: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.home-title {
    color: #ffffff;
    text-align: left;
    font-family: "Source Code Pro";
    font-size: 10rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
}

.home-desc {
    color: #ffffff;
    text-align: left;
    font-family: "Source Code Pro";
    font-size: 1rem;
    margin: 0 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

#title {
    font-size: 1.4rem;
}

.carrot {
    color: #7c7c7c;
}

.p-tag {
    color: rgb(91, 133, 247);
}

.class-tag {
    color: #9cdcfe;
}

.class-prop {
    color: #ffae96;
}

.home-profile-img {
    width: 40%;
    border-radius: 50%;
    margin-right: 4rem;
    filter: grayscale(100%);
    visibility: hidden;
    animation: fade-in 0.7s 0.3s;
    animation-fill-mode: forwards;
}


/* Animations */

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-6rem);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(70%);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(100%);
    }
}