.contact-main-container {
    height: 90%;
    width: 95%;
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
    background: linear-gradient(90deg, #ffffff00, #ffffff36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: expand 1s 1.5s;
    animation-fill-mode: forwards;
}

/* Animations */

/* @keyframes expand {
    0% {
        height: 90%;
        width: 95%;
        border-top-right-radius: 30rem;
        border-bottom-right-radius: 30rem;
        background: linear-gradient(90deg, #ffffff00, #ffffff36);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    100% {
        width: 100%;
    }
} */

@keyframes expand {
    0% {
        opacity: 1;
        height: 90%;
        width: 95%;
        border-top-right-radius: 30rem;
        border-bottom-right-radius: 30rem;
        background: linear-gradient(90deg, #ffffff00, #ffffff36);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    100% {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 1;
    }
}