.header {
    width: 10%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 2rem;
}

.page-selection {
    user-select: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: "Source Code Pro";
    font-weight: 700;
    transition: all 1s ease-in-out;
    border-bottom: 3px solid transparent;
    border-bottom-width: 0%;
    cursor: pointer;
    position: relative;
}

.page-selection::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -3px;
    width: 0;
    background: #ffffff;
    transition: width .2s;
    border-radius: 2px;
}

.page-selection:hover::after {
    width: 100%;
}

.page-selection-underlined {
    user-select: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: "Source Code Pro";
    font-weight: 700;
    border-bottom: 3px solid #ffffff;
    border-bottom-width: 0%;
}